@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/banner1.jpg" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </div>
    
    <a class="CS" href='@Url.Action("Index","Home")'>Cerrar Sesion</a>

    <div class="row mb-3 mt-3">
        <div class="col d-flex justify-content-center">
            <a href='@Url.Action("Agregarconcierto","Home")' class="btn btn-info">Agregar concierto</a>
        </div>
    </div>
    <div class="row">
        @{
            @foreach (concierto item in @ViewBag.listaconciertos)
            {
                <div class="col-md-3">
                    <div class="card bg-dark text-white w-100 mb-5">
                        <img src="/@item.Imagen" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="min-height:75px;">@item.Nombre</h5>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modalconcierto"
                            onclick="MostrarMasInfo(@item.Idconcierto)">
                                Más info
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Modal -->
   
    <div class="modal fade" id="Modalconcierto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 15%;" role="document">
            <div class="modal-content bg-white text-dark">
                <div class="modal-body">
                    <p id="FechaCreacion"></p>
                    <p id="Descripcion"></p>
                    <p id="Precio"></p>
                </div>
                <div class="modal-footer">
                    <button class="noselect buttonCerrar" data-bs-dismiss="modal">
                        <span class="text">Cerrar</span>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path
                                    d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <a href='@Url.Action("Comprarconcierto","Home")'>
                        <button class="noselect buttonComprar" data-bs-dismiss="modal">
                            <span class="text">Comprar</span>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"> </svg>
                                   
                            </span>
                        </button>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>