<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorldConcerts</title>
  </head>
  <body>
  <!-- Card Principal !--> 
     <h3 class="card-title">@ViewBag.nombreConcierto</h3>
@foreach (Concierto Con in ViewBag.conciertos)
{
<div class="card">
  <div class="card-body">
  </div>
    <p>@Con.Ubicacion</p>
    <p>@Con.Fecha</p>
    <p>@Con.Hora</p> 
    <h1>@Con.Stock</h1>
</div>
}

<button type="button" href='@Url.Action("comprar")' class="btn btn-success">Comprar</button>

 <!-- Card terminos y condiciones !-->

<div class="card" style="width: 18rem;">
  <div class="card-header">
   Terminos y condiciones
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cantidad máxima de entradas por compra: 5 </li> 
    <li class="list-group-item">Menores de 12 deben entrar con acompañante</li>
    <li class="list-group-item">Envio de entradas en menos de 10 dias</li>
    <li class="list-group-item">Llevar dni fisico</li>
    <li class="list-group-item">E-TICKET</li>
  </ul>
</div>
  </body>
</html>
