@{
    ViewData["Title"] = "Login";
}

@model log.Models.Login

<h2>Iniciar Sesión</h2>

<form asp-controller="Account" asp-action="VerificarContraseña" method="post">
    <div class="form-group">
        <label for="Usuario">Usuario:</label>
        <input type="text" class="form-control" id="Usuario" name="Usuario" required>
    </div>
    <div class="form-group">
        <label for="Contraseña">Contraseña:</label>
        <input type="password" class="form-control" id="Contraseña" name="Contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

<div class="mt-3">
     <a class="btn btn-info" href='@Url.Action("Olvide", "Account")'>Recuperar contraseña</a>
    <a class="btn btn-info" href='@Url.Action("Registro", "Account")'>Registrarsee</a>
    <p> @ViewBag.Verificar</p>
</p>
</div>
---------------------------------------------------------------
<form action='@Url.Action("login","Account")' method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="contraseña" placeholder="Contraseña" required>
    <input type="submit" value="Continuar">
</form>
<br><a href='@Url.Action("registrarse","Account")'>Registrarse</a>
<br><a href='@Url.Action("olvideContra","Account")'>Olvide mi contraseña</a>
@ViewBag.mensajeError